*{
margin:0;
padding:0;
font-family:'poppins',sans-serif;
box-sizing:border-box;


}
.container{
    width:100vw;
    height:100vh;
    background-image:url(images/travel.png.jpg);
    background-position: center;
    background-size:cover;
    padding:0 8%;
    color:white;
    position:relative;
    cursor:pointer;

   }
    .container h1{
    width:100px;
    padding:10px 0;
    font-size:25px;

}
.content{
    top:50%;
    position:absolute;
    transform:translateY(-50%);
    color:#fff;
    
}
.content p{
    font-size: 25px;
   ;
    }
    

.content h1{
        font-size:54px;
        font-weight:600;
    }
.content h1 span{
    color:#ff0000;
    text-shadow:2px 3px 4px rgb(161, 0, 0)
;}
.content button{
    background:transparent;
    border:2px solid white;
    outline:none;
    padding:5px 15px;
    color:white;
    display:flex;
    align-items:center;
    cursor:pointer;
    margin:5px;
    font-size:15px;
} 
.content button img{
    width:15px;
    margin-left:10px;
}
.launch-time{
    display:flex;

}
.launch-time div{
    flex-basis:100px;
    margin:10px;
    margin-top:1px;
    margin-bottom:10px;

}
.launch-time div p{
    font-size:40px;
    margin-bottom:-5px;
}
.rocket{
    width:250px;
    position:absolute;
    right:10%;
    bottom:0;
    animation:rocket 4s linear infinite;
}
@keyframes rocket{
    0%{
    bottom:0;
    opacity:0.2;
}
100%{
    bottom:105%;
    opacity:2;
}
}